<!--  
===============LICENSE_START=======================================================
Graphene Apache-2.0
===================================================================================
Copyright (C) 2017 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Graphene software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
-->


<div class="posrel">
	<alert-message msg="msg" icon="icon" styleclass="styleclass"
		ng-show="showReadAlertMessage"></alert-message>
</div>
<div class="page-content" id="notification-details">
	<section class="pageheadsection">
		<div class="mdl-grid mdl-grid--no-spacing">
			<div
				class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
				<span class="headline mob-disblock">Manage Notifications</span>
				<ul class="c-breadcrumb">
					<li><a class="#" ui-sref="home"
						ng-click="$root.parentActive = ''">Home</a></li>
					<li>Manage Notifications</li>
				</ul>
			</div>
		</div>
	</section>
	
	<div class="tbl-notification-container">
		<!-- copy from here (start) -->
		<div class="notification-btn-container" > <!-- filtertedNotification.length || search.length > 0 -->
			<div class="note-btn-inner">
				<button class="mdl-button mdl-js-button btn-secondary"
					ng-click="refreshNotification()">
					<i class="fas fa-sync"></i> Refresh
				</button>
				<button class="mdl-button mdl-js-button btn-secondary"
					ng-click="markRead()">
					<i class="fa fa-eye" aria-hidden="true"></i> Mark as read
				</button>
				<button class="mdl-button mdl-js-button btn-secondary"
					ng-click="trashNotification()">
					<i class="far fa-trash-alt"></i> Move to trash
				</button>			
			</div>
			<!-- <div class="mdl-textfield mdl-js-textfield text-right">
				<input class="mdl-textfield__input notification-search" type="text"
					placeholder="Filter" ng-model="$parent.search">
			</div> -->
			<!-- 							<div>
								<div class="select-control">
									<md-select ng-model="action.name" placeholder="Sort By - All">  md-on-open="loadUsers()"
										<md-option  ng-repeat="action in actions" ng-click="filterChange(action,'sortBy')">{{action.name}}</md-option>
									</md-select>
							</div> -->
		</div>
		
		<div>
			<table ng-show='notificationManageObj.length' 
				class="note-table tbl-notification-list mdl-data-table mdl-js-data-table mdl-shadow--2dp admin-tbl1 mdl-js-data-table"
				datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs="dtColumnDefs" dt-instance="dtInstance">
				<colgroup>
					<col style="width: 1%; display:none">
					<col style="width: 5%;">
					<col style="width: 79%;">
					<col style="width: 15%;">
				</colgroup>
				<thead>
					<tr> 
						<th style="display:none"></th> 				<!-- Kept empty on purpose, datatables sorts the first column by defaults which is not needed here.-->
						<th class="sorting_disabled"><label
							class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
							for="checkbox-1" id="checkbox-label"> <input
								type="checkbox" id="checkbox-1" class="mdl-checkbox__input"
								ng-model="selectAll" ng-click="setSelectAll(selectAll)"
								ng-checked="selectAllStatus" /> <span
								class="mdl-checkbox__label"></span>
						</label> </th>
						<th>Subject</th>
						<th>Date &amp; Time</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="notification in notificationManageObj track by $index">
						<td style="display:none"></td>
						<td ng-class="{'read-notification': notification.viewed}"><label
							class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
							for="checkBox_{{$index}}" id="checkBox_{{$index}}"> <input
								type="checkbox" class="mdl-checkbox__input"
								ng-model="notification.Selected"
								ng-checked="notification.Selected" ng-click="removeSelectAll()">
								<span class="mdl-checkbox__label"></span>
						</label></td>
						<td class="sub-container notification-anchor-format" 
							ng-bind-html="notification.message.toString().split('_').join(' ')"
							ng-class="{'read-notification': notification.viewed}" compile>{{notification}}</td>
						<td ng-class="{'read-notification': notification.viewed}">
						{{notification.start | date : "MM/dd/yyyy | h:mm a" }}</td>
					</tr>
				</tbody>
			</table>

			

			<!-- Pagination Starts-->
			<!-- <div class="pagination-wrapper">
				<div class="pagination-left-section">
					<span>Showing </span>
					<div class="select-control">
						<md-select ng-model="defaultSize" name="defaultSize"
							ng-change="filterChange(defaultSize, 'paginationSize')">
						<md-option ng-value="10" class="pagination-list-item">10</md-option>
						<md-option ng-value="25" class="pagination-list-item">25</md-option>
						<md-option ng-value="50" class="pagination-list-item">50</md-option>
						<md-option ng-value="100" class="pagination-list-item">100</md-option>
						</md-select>
					</div>
					<span class="page-stats">Notifications</span>
				</div>
				<div class="pagination-right-section">
					<div class="count-btn-container">
						<button class="mdl-button mdl-js-button btn-secondary"
							ng-disabled="selectedPage==0 || SetDataLoaded"
							ng-click="setStartCount('pre');Navigation(selectedPage)">Previous</button>
					</div>
					<div class="count-btn-container" ng-hide="0 >(setPageStart - 5)">
						<button class="mdl-button mdl-js-button btn-secondary count-btn"
							ng-click="setStartCount('preBunch');Navigation(setPageStart)"
							ng-class="{disabledClick:SetDataLoaded==true}">...</button>
					</div>
					<div class="count-btn-container">
						<button class="mdl-button mdl-js-button btn-secondary count-btn"
							ng-class="{'selected-btn': setPageStart == selectedPage}"
							ng-click="Navigation(setPageStart);">{{setPageStart+1}}
						</button>
					</div>
					<div class="count-btn-container"
						ng-hide="totalPages<=(setPageStart+1)">
						<button class="mdl-button mdl-js-button btn-secondary count-btn"
							ng-class="{'selected-btn': setPageStart+1 == selectedPage}"
							ng-click="Navigation(setPageStart+1);">{{setPageStart+2}}
						</button>
					</div>
					<div class="count-btn-container"
						ng-hide="totalPages<=(setPageStart+2)">
						<button class="mdl-button mdl-js-button btn-secondary count-btn"
							ng-class="{'selected-btn': setPageStart+2 == selectedPage}"
							ng-click="Navigation(setPageStart+2);">{{setPageStart+3}}
						</button>
					</div>
					<div class="count-btn-container"
						ng-hide="totalPages<=(setPageStart+3)">
						<button class="mdl-button mdl-js-button btn-secondary count-btn"
							ng-class="{'selected-btn': setPageStart+3 == selectedPage}"
							ng-click="Navigation(setPageStart+3);">{{setPageStart+4}}
						</button>
					</div>
					<div class="count-btn-container"
						ng-hide="(totalPages)<=(setPageStart+4)">
						<button class="mdl-button mdl-js-button btn-secondary count-btn"
							ng-class="{'selected-btn': setPageStart+4 == selectedPage}"
							ng-click="Navigation(setPageStart+4); ">{{setPageStart+5}}
						</button>
					</div>
					<div class="count-btn-container"
						ng-hide="(totalPages)<=(setPageStart + 5)">
						<button class="mdl-button mdl-js-button btn-secondary count-btn"
							ng-click="setStartCount('nextBunch'); Navigation(setPageStart);"
							ng-class="{disabledClick:SetDataLoaded==true}">...</button>
					</div>
					<div class="count-btn-container">
						<button class="mdl-button mdl-js-button btn-secondary"
							ng-click="setStartCount('next'); Navigation(selectedPage)"
							ng-disabled="totalPages == (selectedPage + 1) || SetDataLoaded">Next</button>
					</div>
				</div>
			</div> -->
			<br />
			<!-- Pagination Ends -->
		</div>
		<!-- copy up to here (end) -->
	</div>
</div>
