<!--  
===============LICENSE_START=======================================================
Graphene Apache-2.0
===================================================================================
Copyright (C) 2019 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Graphene software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
-->

<!-- SV modal box start -->
<div id="myDialog">
	<md-dialog aria-label="Sign In" class="sign-in-promt-modal-box" style="width:800px">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{(isUsageDenied) ? "Right to Use Status": "Security Verification Status"}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="closePoup()">
				<i class="material-icons">close</i> </md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div style="display: block">
					<img ng-src="{{(isError || isUsageDenied) ? 'images/icon_verification_failed.png' : 'images/icon_pending.png'}}" alt="" title="failed"
						style="display: block; margin-left: auto; margin-right: auto; height: 50px;">
				</div>
				<p class="text-center" style="font-size: 18px; font-weight: bold; margin-top: 8px;">{{(isError) ? "Failed" : (isUsageDenied) ? "Usage Denied": "Pending"}}</p>
				<span style="font-size: 15px; font-weight:550;">Your request could not be completed, for the reason below:</span>
				<p ng-if="summary" ng-style="isUsageDenied && {'color':'red'}" style="color:orange">{{summary}}</p>
				<span ng-if="summary && reasons" style="font-size: 15px; font-weight:550;">Additional Details:</span>
				<ul style="margin: 8px 0px 0px -24px;" ng-style="!isError && {'margin':'8px 0px 8px -24px'}">
					<li ng-repeat="reason in reasons.split(',')" ng-style="(isError || isUsageDenied) && {'color':'red'}" style="color:orange">{{reason}}</li>
				</ul>
				<span ng-if="(!isError && !isUsageDenied)" style="font-size: 15px; font-weight:550;">Please wait and try again later.</span>
			</div>
		</md-dialog-content>
		<!-- <md-dialog-actions>
		<div class="dialog-footer-container1">
			<span></span>
			<button ng-click="handleDismiss()"
				class="mdl-button mdl-js-button mdl-js-ripple-effect btn-secondary text-tranformnone">Close</button>
		</div>
		</md-dialog-actions> -->
	</md-dialog>
</div>
<!-- SV modal box end -->

