<!--  
===============LICENSE_START=======================================================
Graphene Apache-2.0
===================================================================================
Copyright (C) 2017 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Graphene software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
-->
<link rel="stylesheet" type="text/css" href="/css/model-workflow.css" />
<div class="posrel">
	<alert-message ng-cloak msg="msg" icon="icon" styleclass="styleclass"
		ng-show="showAlertMessage"></alert-message>
</div>

<div class="page-content">
	<section class="pageheadsection gray-bg">
		<div layout="row" layout-xs="column" layout-fill
			layout-align="start start" class="mdl-grid mdl-grid--no-spacing">
			<div
				class="mdl-cell mdl-cell--5-col mdl-cell--4-col-phone mdl-cell--5-col-tablet">
				<div>
					<span class="headline mob-disblock">Publish Request</span>
				</div>
				<ul class="c-breadcrumb">
					<li><a ui-sref="home" href="#">Home</a></li>
					<li><a ui-sref="publishRequest" href="#">Publish Request</a></li>
					<!-- <li>On Boarding Model</li> -->
				</ul>
			</div>

		</div>
	</section>
	<div class="page-wrapper3 publish-request">
		<!--  publish request -->
		<div class="fed-row1 publishheading" ng-init="allPublishRequestLength = 0">
			<div class="fedrow-cell1">
				<span class="font600">Current Request </span> <span>({{allPublishRequestLength}}
					active/Inactive requests)</span>
			</div>
			<div class="fed-row2">
				<!-- <div class="fed-srch-container">
					<label class="fed-lbl1">Filter</label>
					<div class="mdl-textfield mdl-js-textfield admin-search-container">
						<input class="mdl-textfield__input admin-search-control"
							type="text" placeholder="" ng-model="searchPublishRequest">
					</div>
				</div> -->
			</div>
		</div>
		<div class="admin-grid-container fedtbl pub-req" id="dataTab">
	 
			<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp admin-tbl1 request-tbl tbl-overflowscroll admin-tbl-padding"
				datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs="dtColumnDefs">
				
				<thead ng-hide="hideLabel">
					<tr>
						<th>Model Name</th>
						<th>Version</th>
						<th>Requester</th>
						<th>Created Date</th>
						<th>Catalog</th>
						<th>Access Level</th>
						<th>Request Status</th>
						<th>Comments</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="publishReq in allPublishRequest | orderBy:orderByField:reverseSortPbReq ">
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">
							<a ui-sref="marketSolutions({solutionId:publishReq.solutionId,revisionId:publishReq.revisionId,publishRequestId:publishReq.publishRequestId,requestUserId:publishReq.requestUserId,requestStatusCode:publishReq.requestStatusCode,catalogId:publishReq.catalogId,catalogName:publishReq.catalogName})">
								<label class="model-name">{{publishReq.solutionName.toString().split("_").join(" ")}}</label>
							</a>
							<label class="small" title="{{publishReq.solutionId}}">{{publishReq.solutionId}}</label></td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}"><label>{{publishReq.revisionName}}</label> <label
							class="small" title="{{publishReq.revisionId}}">Revision ID: {{publishReq.revisionId}}</label></td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">{{publishReq.requestorName}}</td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">{{publishReq.creationDate | date : "MM/dd/yyyy"}}</td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">{{publishReq.catalogName}}</td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">{{publishReq.accessType == 'PB' ? 'Public' : 'Restricted'}}</td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}"><label
							ng-class="{'text-green': publishReq.requestStatusName == 'Approved','text-red': publishReq.requestStatusName == 'Declined','text-orange': publishReq.requestStatusName == 'Withdrawn'}">{{publishReq.requestStatusName}}</label>
						</td>
						<td>
							<div ng-if="publishReq.comment">
							<a ng-click="setActiveComment(publishReq.publishRequestId)"
								ng-bind="(isActiveComment(publishReq.publishRequestId)) ? 'Hide' : 'View'"></a>
					 		
					 		<!-- Popover Starts -->
					 		<div ng-show="isActiveComment(publishReq.publishRequestId)" class="custom_popover">
								<div class="popovers">
									<md-toolbar>
									<div class="md-toolbar-tools">
										<h2>Publisher's Comments </h2>
										<span flex></span>
										<md-button class="md-icon-button"
											ng-click="setActiveComment(publishReq.publishRequestId)"> <i
											class="material-icons" alt="Close" title="Close">close</i> </md-button>
									</div>
									</md-toolbar>
									<md-dialog-content>
									<div class="md-dialog-content">
										<div class="mdl-grid mdl-grid--no-spacing deploy-grid">
											<p> {{publishReq.comment}}</p>
	
										</div>
										<div layout="row" class="popovers-cloud-modalfooter">
											<md-button ng-click="showComments = !showComments"
												class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-secondary" alt="Cancel" title="Cancel">
											Cancel </md-button>
										
										</div>
									</div>
									</md-dialog-content>
								</div>
							</div>
					 		<!-- Popover Ends -->
							</div>
						<div ng-hide="publishReq.comment" class="custom_popover" ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">
							<label class="a-tooltipval">N/A</label>
						</div>
						</td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">
							<div class="admin-action-container">
								<button ng-disabled="(publishOwnRequestsEnabled == 'false' && loginUserID == publishReq.requestUserId )" name="approvePublishRequestModal"
									ng-style="publishReq.requestStatusName !== 'Pending'&&{'cursor':'not-allowed'}"
									ng-click="publishReq.requestStatusName !== 'Pending'||showModalPublishReq($index, 'approve',publishReq.solutionName, publishReq.publishRequestId)"
									class="mdl-button mdl-js-button mdl-button--icon">
									<span class="gridicon-approve"></span>
								</button>
								<button ng-disabled="(publishOwnRequestsEnabled == 'false' && loginUserID == publishReq.requestUserId )"  name="declinePublishRequestModal"
									ng-style="publishReq.requestStatusName !== 'Pending'&&{'cursor':'not-allowed'}"
									ng-click="publishReq.requestStatusName !== 'Pending'||showModalPublishReq($index, 'decline',publishReq.solutionName, publishReq.publishRequestId)"
									class="mdl-button mdl-js-button mdl-button--icon">
									<span class="gridicon-deny"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!-- <table
				class="mdl-data-table mdl-js-data-table mdl-shadow--2dp admin-tbl1 request-tbl">
				<colgroup>
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="10%">
					<col width="15%">
					<col width="15%">
					<col width="10%">
					<col width="5%">
				</colgroup>
				<thead ng-hide="hideLabel">
					<tr>
						<th
							ng-click="orderByField='solutionName'; reverseSortPbReq = !reverseSortPbReq">Model
							Name<span ng-if='orderByField!="solutionName"'
							class="gridcell-sort deactivate"></span><span
							ng-if='orderByField=="solutionName"'
							ng-class="reverseSortPbReq?'ascending':'descending'"
							class="gridcell-sort"></span>
						</th>
						<th
							ng-click="orderByField='revisionName'; reverseSortPbReq = !reverseSortPbReq">Version
							<span ng-if='orderByField!="revisionName"'
							class="gridcell-sort deactivate"></span><span
							ng-if='orderByField=="revisionName"'
							ng-class="reverseSortPbReq?'ascending':'descending'"
							class="gridcell-sort"></span>
						</th>
						<th
							ng-click="orderByField='requestorName'; reverseSortPbReq = !reverseSortPbReq">Requester<span
							ng-if='orderByField!="requestorName"'
							class="gridcell-sort deactivate"></span><span
							ng-if='orderByField=="requestorName"'
							ng-class="reverseSortPbReq?'ascending':'descending'"
							class="gridcell-sort"></span></th>
						<th
							ng-click="orderByField='creationDate'; reverseSortPbReq = !reverseSortPbReq">Created Date<span
							ng-if='orderByField!="creationDate"'
							class="gridcell-sort deactivate"></span><span
							ng-if='orderByField=="creationDate"'
							ng-class="reverseSortPbReq?'ascending':'descending'"
							class="gridcell-sort"></span></th>
						<th
							ng-click="orderByField='catalogName'; reverseSortPbReq = !reverseSortPbReq">Catalog<span
							ng-if='orderByField!="catalogName"'
							class="gridcell-sort deactivate"></span><span
							ng-if='orderByField=="catalogName"'
							ng-class="reverseSortPbReq?'ascending':'descending'"
							class="gridcell-sort"></span></th>
						
						<th
							ng-click="orderByField='accessType'; reverseSortPbReq = !reverseSortPbReq">Access Level<span
							ng-if='orderByField!="accessType"'
							class="gridcell-sort deactivate"></span><span
							ng-if='orderByField=="accessType"'
							ng-class="reverseSortPbReq?'ascending':'descending'"
							class="gridcell-sort"></span></th>
						
						<th
							ng-click="orderByField='requestStatusName'; reverseSortPbReq = !reverseSortPbReq">
							Request Status <span ng-if='orderByField!="requestStatusName"'
							class="gridcell-sort deactivate"></span> <span
							ng-if='orderByField=="requestStatusName"'
							ng-class="reverseSortPbReq?'ascending':'descending'"
							class="gridcell-sort"></span>
						</th>
						<th
							ng-click="orderByField='modified'; reverseSortPbReq = !reverseSortPbReq">
							Comments <span ng-if='orderByField!="modified"'
							class="gridcell-sort deactivate"></span> <span
							ng-if='orderByField=="modified"'
							ng-class="reverseSortPbReq?'ascending':'descending'"
							class="gridcell-sort"></span>
						</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>(filtertedUser = (allPublishRequest | orderBy:orderByField:reverseSortPbReq | filter : search) )

					<tr ng-repeat="publishReq in allPublishRequest | orderBy:orderByField:reverseSortPbReq | filter : searchPublishRequest as allPublishRequestFiltered">
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}"><a ui-sref="marketSolutions({solutionId:publishReq.solutionId,revisionId:publishReq.revisionId,publishRequestId:publishReq.publishRequestId,requestUserId:publishReq.requestUserId,requestStatusCode:publishReq.requestStatusCode,catalogId:publishReq.catalogId,catalogName:publishReq.catalogName})"><label class="model-name">{{publishReq.solutionName}}</label></a>
							<label class="small">{{publishReq.solutionId}}</label></td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}"><label>{{publishReq.revisionName}}</label> <label
							class="small">Revision ID: {{publishReq.revisionId}}</label></td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">{{publishReq.requestorName}}</td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}" >{{publishReq.creationDate | date : "MM/dd/yyyy"}}</td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">{{publishReq.catalogName}}</td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}">{{publishReq.accessType == 'PB' ? 'Public' : 'Restricted'}}</td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'}"><label
							ng-class="{'text-green': publishReq.requestStatusName == 'Approved' , 
							'text-red': publishReq.requestStatusName == 'Declined',
							'text-orange': publishReq.requestStatusName == 'Withdrawn'}">{{publishReq.requestStatusName}}</label>
						</td>
						<td>
							<div ng-if="publishReq.comment">
							<a ng-click="setActiveComment(publishReq.publishRequestId)"
								ng-bind="(isActiveComment(publishReq.publishRequestId)) ? 'Hide' : 'View'"></a>
					 		
					 		Popover Starts
					 		<div ng-show="isActiveComment(publishReq.publishRequestId)" class="custom_popover">
								<div class="popovers">
									<md-toolbar>
									<div class="md-toolbar-tools">
										<h2>Publisher's Comments </h2>
										<span flex></span>
										<md-button class="md-icon-button"
											ng-click="setActiveComment(publishReq.publishRequestId)"> <i
											class="material-icons" alt="Close" title="Close">close</i> </md-button>
									</div>
									</md-toolbar>
									<md-dialog-content>
									<div class="md-dialog-content">
										<div class="mdl-grid mdl-grid--no-spacing deploy-grid">
											<p> {{publishReq.comment}}</p>
	
										</div>
										<div layout="row" class="popovers-cloud-modalfooter">
											<md-button ng-click="showComments = !showComments"
												class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-secondary" alt="Cancel" title="Cancel">
											Cancel </md-button>
										
										</div>
									</div>
									</md-dialog-content>
								</div>
							</div>
					 		Popover Ends
							</div>
						<div ng-hide="publishReq.comment" class="custom_popover"><label
								class="a-tooltipval">N/A</label>
						</div></td>
						<td ng-class="{'disabled': publishReq.requestStatusName !== 'Pending'">
							<div class="admin-action-container">
								<button ng-disabled="(publishOwnRequestsEnabled == 'false' && loginUserID == publishReq.requestUserId )" name="approvePublishRequestModal"
									ng-style="publishReq.requestStatusName !== 'Pending'&&{'-webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)','cursor':'not-allowed'}"
									ng-click="publishReq.requestStatusName !== 'Pending'||showModalPublishReq($index, 'approve',publishReq.solutionName, publishReq.publishRequestId)"
									class="mdl-button mdl-js-button mdl-button--icon">
									<span class="gridicon-approve"></span>
								</button>
								<button ng-disabled="(publishOwnRequestsEnabled == 'false' && loginUserID == publishReq.requestUserId )"  name="declinePublishRequestModal"
									ng-style="publishReq.requestStatusName !== 'Pending'&&{'-webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)','cursor':'not-allowed'}"
									ng-click="publishReq.requestStatusName !== 'Pending'||showModalPublishReq($index, 'decline',publishReq.solutionName, publishReq.publishRequestId)"
									class="mdl-button mdl-js-button mdl-button--icon">
									<span class="gridicon-deny"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table> -->
			
			<!-- <div class="alert c-info text-center"
				ng-if="allPublishRequestFiltered.length == 0 || allPublishRequest == '' ">
				<strong>No Results Found</strong>
			</div> -->
			
			
			<!-- Modal box for approve and reject publish request -->
			<div class="md-dialog-container" id="publishRequestModal"
				style="height: 0;">
				<md-dialog aria-label="Publish Request" class="">
				<form name='publishRequestForm' ng-cloak novalidate>
					<md-toolbar>
					<div class="md-toolbar-tools">
						<h2 ng-show="requestApprovalModal == 'approve' ">Approve
							Request</h2>
						<h2 ng-show="requestApprovalModal == 'decline' ">Decline
							Request</h2>
						<span flex></span>
						<md-button class="md-icon-button" ng-click='closePoup()'>
						<i class="material-icons">close</i> </md-button>
					</div>
					</md-toolbar>
					<md-dialog-content>
					<div class="md-dialog-content">
						<div layout="row">
							<div flex="100">
								<md-input-container class="md-block"> <span
									class="font600">You are <span
									ng-show="requestApprovalModal == 'approve' ">approving</span> <span
									ng-show="requestApprovalModal == 'decline' ">declining</span>
									the publish request for {{requestedModelName}}
								</span>

								<p class="peerpara1">Please add note (Required).</p>
								<br />
								<textarea  id="pbReqId={{pbReqId}}" ng-model="descriptionPop" rows="4"  name="descriptionPop"   required ng-blur="descriptionPopVisited=true"  ng-focus="descriptionPopVisited=false"></textarea> 
								<div class="help-inline validation-msgs" ng-class="{validationmsg:!publishRequestForm.descriptionPop.$valid}">
								<span ng-show="!!publishRequestForm.descriptionPop.$error.required && publishRequestForm.descriptionPop.$touched && descriptionPopVisited">
								Please enter comments
								</span>
								
								
								
								</div>
								
								
								 </md-input-container>
							</div>
						</div>
					</div>
					</md-dialog-content>
					<md-dialog-actions>
					<div class="dialog-footer-container1">
						<div>
							<button ng-click='closePoup()'
								class="mdl-button mdl-js-button btn-secondary">Cancel</button>
						</div>
							<div>
							<button ng-click="publishReqeuest($index, requestApprovalModal)"
								class="mdl-button mdl-js-button btn-primary" disabled="disabled" ng-disabled="publishRequestForm.$invalid">
								<span ng-show="requestApprovalModal == 'approve' "   >Approve</span>
								<span ng-show="requestApprovalModal == 'decline' "  >Decline</span>
							</button>

						</div>
					</div>
					</md-dialog-actions>
				</form>
				</md-dialog>
			</div>
			<!-- Modal box end -->
		</div>
		
		
		
		
		<!-- <div class="pagination-wrapper" ng-if="allPublishRequestLength > 0">
			<div class="pagination-left-section">
				<span>Showing </span>
				<div class="select-control">
					<md-select ng-model="requestResultSize" name="requestResultSize"
						ng-change="filterChange('paginationSize',requestResultSize)">
					<md-option ng-value="10" class="pagination-list-item">10</md-option>
					<md-option ng-value="25" class="pagination-list-item">25</md-option>
					<md-option ng-value="50" class="pagination-list-item">50</md-option>
					<md-option ng-value="100" class="pagination-list-item">100</md-option>
					</md-select>

				</div>

				<span class="page-stats"> Publish Requests</span>

			</div>
			<div class="pagination-right-section">
				<div class="count-btn-container">
					<button class="mdl-button mdl-js-button btn-secondary"
						ng-disabled="selectedPage==0 || SetDataLoaded"
						ng-click="setStartCount('pre');loadPublishRequest(selectedPage)">Previous</button>
				</div>
				<div class="count-btn-container" ng-hide=" 0 >(setPageStart - 5)">
					<button class="mdl-button mdl-js-button btn-secondary count-btn"
						ng-click="setStartCount('preBunch');loadPublishRequest(setPageStart)"
						ng-class="{disabledClick:SetDataLoaded==true}">...</button>
				</div>
				<div class="count-btn-container">
					<button class="mdl-button mdl-js-button btn-secondary count-btn"
						ng-class="{'selected-btn': setPageStart == selectedPage}"
						ng-click="loadPublishRequest(setPageStart);">{{setPageStart+1}}</button>
				</div>
				<div class="count-btn-container"
					ng-hide="totalPages<=(setPageStart+1)">
					<button class="mdl-button mdl-js-button btn-secondary count-btn"
						ng-class="{'selected-btn': setPageStart+1 == selectedPage}"
						ng-click="loadPublishRequest(setPageStart+1);">{{setPageStart+2}}</button>
				</div>
				<div class="count-btn-container"
					ng-hide="totalPages<=(setPageStart+2)">
					<button class="mdl-button mdl-js-button btn-secondary count-btn"
						ng-class="{'selected-btn': setPageStart+2 == selectedPage}"
						ng-click="loadPublishRequest(setPageStart+2);">{{setPageStart+3}}</button>
				</div>
				<div class="count-btn-container"
					ng-hide="totalPages<=(setPageStart+3)">
					<button class="mdl-button mdl-js-button btn-secondary count-btn"
						ng-class="{'selected-btn': setPageStart+3 == selectedPage}"
						ng-click="loadPublishRequest(setPageStart+3);">{{setPageStart+4}}</button>
				</div>
				<div class="count-btn-container"
					ng-hide="(totalPages)<=(setPageStart+4)">
					<button class="mdl-button mdl-js-button btn-secondary count-btn"
						ng-class="{'selected-btn': setPageStart+4 == selectedPage}"
						ng-click="loadPublishRequest(setPageStart+4);">{{setPageStart+5}}</button>
				</div>
				<div class="count-btn-container"
					ng-hide="(totalPages)<=(setPageStart + 5)">
					<button class="mdl-button mdl-js-button btn-secondary count-btn"
						ng-click="setStartCount('nextBunch');loadPublishRequest(setPageStart);"
						ng-class="{disabledClick:SetDataLoaded==true}">...</button>
				</div>
				<div class="count-btn-container">
					<button class="mdl-button mdl-js-button btn-secondary"
						ng-click="setStartCount('next');loadPublishRequest(selectedPage);"
						ng-disabled="totalPages == (selectedPage + 1) || SetDataLoaded">Next</button>
				</div>
			</div>
		</div> -->
		<!--  publish request end -->
	</div>
</div>
