<!--  
===============LICENSE_START=======================================================
Graphene Apache-2.0
===================================================================================
Copyright (C) 2017 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Graphene software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
-->

<!-- only for demo remove afterwards -->
<div class="page-content" id="marketplaceTemplate">
	<section class="pageheadsection mob-pageheadsection1">
		<div class="mdl-grid mdl-grid--no-spacing">
			<div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
				<div class="mp-header-btn-container">
					<span class="headline mob-disblock">{{pageTitle}} |</span>
					<div class="fed-srch-container" ng-show="loginUserID">
						<!-- <div class="select-control">
											<md-select ng-model="SelectedCatalog"  
												class="btn-sort bdr mdl-button md-no-underline"> 
												<md-option value='0' ng-selected="true" ng-click="filterChange('','SearchbyCatalog');">All Catalogs</md-option>
												<md-option value='1' ng-click="filterChange(favCatalogIds,'SearchbyCatalog');">My Favorite Catalogs</md-option>					
											</md-select>
										</div> -->

						<div class="marketplace-btn-tabs">
							<button class="mdl-button mdl-js-button mdl-js-ripple-effect"
								ng-click="filterChange('','SearchbyCatalog');" alt="All Catalogs"
								ng-class="favCatStorageSerive == false ||  favCatStorageSerive == '' ? 'btn-primary' : 'btn-secondary'"
								title="All Catalogs" data-upgraded=",MaterialButton" style="">All Catalogs</button>

							<button class="mdl-button mdl-js-button mdl-js-ripple-effect"
								ng-click="filterChange(favCatalogIds,'SearchbyCatalog');" alt="My Favorite Catalogs"
								ng-class="favCatStorageSerive == true ? 'btn-primary' : 'btn-secondary'"
								title="My Favorite Catalogs" data-upgraded=",MaterialButton" style="">My Favorite
								Catalogs</button>
						</div>

						<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-secondary "
							ui-sref="userDetail({isCatalogSelected: true})" alt="Select Favorite Catalogs"
							title="Select Favorite Catalogs">
							Select Favorite Catalogs
						</button>
					</div>
				</div>
				<ul class="c-breadcrumb">
					<li><a ui-sref="home" ng-click="$root.parentActive = ''">Home</a></li>
					<li>Marketplace</li>
				</ul>
				<a ng-show="$root.enableOnboarding" class="mdl-button mdl-js-button btn-primary hide-xs"
					ui-sref="modularResource" ng-click="$root.parentActive = ''" alt="Add New Model"
					title="Add New Model">add new model</a>
				<button class="mdl-button mdl-button--fab btn-primary mob-add-button hide-sm hide-md hide-lg hide-xl"><i
						class="material-icons">add</i></button>
			</div>
		</div>
	</section>
	<div class="mdl-grid mdl-grid--no-spacing cg-grid-layout">
		<div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--4-col-phone cg-grid-left-container"
			ng-class=" 'showfilter' ? 'leftbrowse-section' : '' " ng-show="showfilter">
			<div class="mdl-grid browse-section-container" layout="row">
				<span class="title text-bold" flex="60">BROWSE BY</span>
				<a class="text-right" flex="40" ng-click="autoHeight = !autoHeight"
					ng-show="!autoHeight  && category.length > 4">Show Less</a>
				<a class="text-right" flex="40" ng-click="autoHeight = !autoHeight"
					ng-show="autoHeight  && category.length > 4">Show All</a>

			</div>
			<div class="">
				<div class="sidebar-search-container">
					<input class="searchicon" type="text" id="model-search"
						ng-change="filterChange('searchBox','searchFilter')" ng-model="searchBox"
						placeholder="Search here" ng-model-options="{ debounce: 2000 }">
				</div>

				<div class="sidebar-checkbox-container" ng-class="autoHeight ? 'fixheightfilter' : 'autoheightfilter'">
					<!-- <div class="sidebar-checkbox-container autoheightfilter"> -->
					<label class="disblock margin-b md-subhead">Filter By Category <span
							class="title-icons filter-catagory" alt="Filter By Category"
							title="Filter By Category"></span></label>

					<div class="checkbox" ng-repeat="cat in category">
						<md-checkbox aria-label="Checkbox 1" class="text-medium" ng-true-value="'yup'"
							ng-false-value="'nope'" value="{{cat}}" ng-checked="selectedCat[$index]"
							ng-click="filterChange(cat.code,'caegory');selectedCat[$index]=!selectedCat[$index]">{{cat.name}}
					</div>
					<!-- <a href="#" class="text-small" flex>Show More</a> -->
				</div>
				<!-- <a class="link-sidebar-showmore" ng-click="autoHeight = !autoHeight" ng-show = "autoHeight" flex>Show More</a>
							<a class="link-sidebar-showmore" ng-click="autoHeight = !autoHeight" ng-show = "!autoHeight" flex>Show Less</a> -->
				<hr class="sidebar-seperator">
				<div class="sidebar-tag-container">
					<label class="disblock md-subhead">Tags <span class="title-icons icon-tags" alt="Tags"
							title="Tags"></span></label>
					<div class="">
						<md-chips>
							<md-chip ng-repeat="tag in tags" ng-class="{'selected-tag': selectedChip[$index]}"
								ng-click="filterChange(tag,'tag');selectChip($index)">{{tag}}</md-chip>
						</md-chips>
					</div>
				</div>

			</div>

		</div>
		<div
			class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color--white cg-grid-right-container">


			<!-- Showing Marketplace items  -->

			<div class="page-wrapper">
				<div class="mdl-grid mdl-grid--no-spacing grid1 hide-xs">
					<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--1-col-phone mdl-cell--middle">
						<div ng-hide="totalElements != 0">
							<span class="hide-xs hide-sm showing-text">Showing - <span class="text-colorgray1"> 0
									Models</span></span>
						</div>
						<div ng-hide="totalElements == 0">
							<span class="hide-xs hide-sm showing-text">Showing - <span class="text-colorgray1">
									{{startPageSize }} to {{endPageSize}} of {{totalElements}} Models</span></span>
						</div>
						<button
							class="mdl-button mdl-js-button mdl-button--primary hide-lg hide-md hide-xl btn-sort btn-browseby"
							ng-click="showfilter = !showfilter">Browse By</button>
					</div>
					<div class="mdl-cell mdl-cell--8-col mdl-cell--5-col-tablet mdl-cell--3-col-phone text-right">
						<div class="grid-control-btn-container">
							<div class="marketplace-btn-container">
								<!-- 										<button id="demo-menu-lower-right2"
													class="mdl-button mdl-js-button btn-sort bdr">
												<span class="hide-xs"><span class="txtspan1"></span>	
												<span class="hide-sm hide-md hide-lg hide-xl"><i class="material-icons">sort_by_alpha</i></span>	
											  <i class="material-icons">keyboard_arrow_down</i>
											</button>
											<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect btn-sorlist1"
												for="demo-menu-lower-right2">
												<li class="mdl-menu__item">{{action.name}}</li>
											 </ul> -->
								<div class="select-control">
									<md-select ng-model="sortBy" placeholder="Sort By"
										class="btn-sort bdr mdl-button md-no-underline">
										<md-option ng-value="action.value" ng-repeat="action in actions"
											ng-click="filterChange(action,'sortBy');">{{action.name}}</md-option>
									</md-select>
								</div>

							</div>

							<div class="grid-view-btn-container">
								<button ng-disabled="Viewtile" ng-class="{'gridlistview-btnactive':Viewtile}"
									class="gridlistview-btn mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
									ng-click="Viewtile = true" alt="Grid View" title="Grid View">
									<i ng-if="Viewtile">
										<img src="images/tile_view_white_icon.png" />
									</i>
									<i ng-if="!Viewtile">
										<img src="images/tile_view_black_icon.png" />
									</i>
								</button>
								<button ng-disabled="!Viewtile" ng-class="{'gridlistview-btnactive':!Viewtile}"
									class="gridlistview-btn mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
									ng-click="Viewtile = false" alt="List View" title="List View">
									<i ng-if="Viewtile">
										<img src="images/list_view_black_icon.png" />
									</i>
									<i ng-if="!Viewtile">
										<img src="images/list_view_white_icon.png" />
									</i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="mob-actions-container1 hide-sm hide-md hide-lg hide-xl">
					<button class="mdl-button mdl-js-button mdl-button--primary btn-browse1"
						ng-click="showfilter = !showfilter">Browse By</button>
					<div class="select-control ">
						<md-select ng-model="action" placeholder="Sort By - All"
							class="mdl-button md-no-underline mob-btn-sort">
							<md-option ng-value="action" ng-repeat="action in actions"
								ng-click="filterChange(action,'sortBy');">{{action.name}}</md-option>
						</md-select>
					</div>

					<div class="grid-view-btn-container">
						<button ng-disabled="Viewtile" ng-class="{'gridlistview-btnactive':Viewtile}"
							class="gridlistview-btn mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
							ng-click="Viewtile = true">
							<i ng-if="Viewtile">
								<img src="images/tile_view_white_icon.png" />
							</i>
							<i ng-if="!Viewtile">
								<img src="images/tile_view_black_icon.png" />
							</i>
						</button>
						<button ng-disabled="!Viewtile" ng-class="{'gridlistview-btnactive':!Viewtile}"
							class="gridlistview-btn mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
							ng-click="Viewtile = false">
							<i ng-if="Viewtile">
								<img src="images/list_view_black_icon.png" />
							</i>
							<i ng-if="!Viewtile">
								<img src="images/list_view_white_icon.png" />
							</i>
						</button>
					</div>
				</div>
				<br />
				<div class="grid-outer-wrapper">
					<div class="grid-container">
						<!-- <h6 class="gridlistheading">My Newly/unpublished onboarded Models (Private) <span class="pull-rght"><a href="#" class="btnseeall">See All</a> <a href="#" class="seeall-icons"><i class="material-icons">navigate_before</i></a><a href="#" class="seeall-icons"><i class="material-icons">navigate_next</i></a> </span></h6> -->

						<div class="mp-grid" ng-show="Viewtile">
							<div class="alert c-info"
								ng-if="mlsolutions.length < 1 || (allDeletedData && !searchResults)">
								<strong>No Results Found</strong>
							</div>
							<!--  <div infinite-scroll='loadMore()' infinite-scroll-distance="2"> -->
							<div class="grid-item"
								ng-repeat="mlsolution in mlsolutions | unique:'solutionId' | filter:(!searchResults || '') && {active:true} as filtered">
								<div class="grid-top-section">
									<div class="product-image">
										<!-- <div class="mpimgcontainer"> -->
										<!-- <div class="mpimage1"> -->
										<figure>
											<img ng-src="/api/solutions/{{mlsolution.solutionId}}/picture"
												ng-click="onClickModel($index, mlsolution.solutionId, mlsolution.latestRevisionId)"
												class="img-rounded"
												onerror="this.onerror=null;this.src='images/default-model.png'" />
										</figure>
										<!-- </div> -->
										<!-- <div class="mpbtncontainer">
																	<md-button class="text-small">anomoly detection</md-button>
																	<md-button class="text-small">classification</md-button>
															</div> -->
									</div>
									<div class="mpdetailscontainer">
										<label class="griditem-title cursor-pointer"
											ng-click="onClickModel($index, mlsolution.solutionId, mlsolution.latestRevisionId)">{{mlsolution.name.toString().split("_").join("
											")}}</label>

										<label class="grid-item-text-container"><span
												class="griditem-text2 grid-item-lbl" ng-if="!mlsolution.sourceId"
												ng-bind=" ((mlsolution.authors.length > 0) ? mlsolution.authors[0].name : mlsolution.ownerName)"></span><span
												class="griditem-text2 grid-item-lbl" ng-if="mlsolution.sourceId"
												ng-bind="mlsolution.mPeer.name"></span> | <span class="griditem-text2">
												{{ mlsolution.modified || mlsolution.created
												| date:"MM/dd/yyyy"}}</span> | <span class="text-xsmall link-orange"
												ng-if="mlsolution.active != ''">New</span></label>
									</div>

									<div class="tile-icons">
										<label class="a-tooltip"><span class="icon-header tile_icon-catalogs"></span>
											<span class="a-tooltiptext">{{mlsolution.catalogNames.join(',
												')}}</span>
										</label>
										|
										<label class="a-tooltip"><span
												class="icon-header tile_icon-publish-request"></span>
											<span class="a-tooltiptext">Pub: {{mlsolution.publisher}}</span>
										</label>
										<span ng-show="mlsolution.sourceId">
											|
											<label class="a-tooltip"><span
													class="icon-header tile_icon-federation"></span>
												<span class="a-tooltiptext">Source: {{mlsolution.mPeer.name}}</span>
											</label>
										</span>

									</div>

									<div class="a-mp-container1">
										<div class="stars-outer">
											<div class="stars-inner"
												ng-style="getAvgRating(mlsolution.solutionRatingAvg)"></div>
										</div>

										<div class="posrel" ng-if="mlsolution.solutionTagList.length > 0">
											<div class="manage-taglist">
												<span class="mg-tag-circle"></span>
												<span class="mg-tag-text">{{mlsolution.solutionTagList.length > 0 ?
													mlsolution.solutionTagList[0].tag : ""}}</span>
												<span class="icon-showmore"
													ng-show="mlsolution.solutionTagList.length > 1"
													ng-click="showListTag(mlsolution.solutionId, $index);">
													<span class="tag-icon1"
														ng-class="{'tag-icon' : mlsolution.solutionId == slnID && Tag}">
														&nbsp; </span>
												</span>
											</div>
											<div class="manage-tag-list-container"
												ng-show="mlsolution.solutionId === slnID && Tag ">
												<ul class="manage-tag-list">
													<li ng-repeat="taglist in mlsolution.solutionTagList">
														<div class="manage-taglist2">
															<span class="mg-tag-circle2"></span><span
																class="mg-tag-text2">{{taglist.tag}}</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="md-icons md-icons-tiles">
										<span><span class="statistics-icons icon-chat" alt="Comment"
												title="Comment"></span> {{mlsolution.commentsCount}}</span>
										<span><span class="statistics-icons icon-view" alt="View" title="View"></span>
											{{mlsolution.viewCount == null ? 0 :
											mlsolution.viewCount}}</span>
										<span><span class="statistics-icons icon-download" alt="Download"
												title="Download"></span> {{mlsolution.downloadCount == null ? 0 :
											mlsolution.downloadCount}}</span>
										<!-- <span><span class="statistics-icons icon-attachment"></span> {{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</span> -->
										<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
											ng-disabled="!loginUserID"
											ng-click="mlsolution.selectFav = !mlsolution.selectFav; updateFavorite(mlsolution.solutionId, $index)"
											alt="Favorite" title="Favorite">
											<i class="material-icons"
												ng-class="{'unselected-fav':!mlsolution.selectFav ,'selected-fav':mlsolution.selectFav}">favorite_border</i>
										</button>
									</div>
								</div>
							</div> <!-- Grid item End -->
							<!-- </div> -->
						</div>
						<div class="mp-grid-list" ng-show="!Viewtile">
							<div class="alert c-info"
								ng-if="mlsolutions.length < 1 || (allDeletedData && !searchResults)">
								<strong>No Results Found</strong>
							</div>
							<div class="mp-grid-list-row browser"
								ng-repeat="mlsolution in mlsolutions | unique:'solutionId' | filter:(!searchResults || '') && {active:true}">
								<div class="mp-grid-list-image-cell">
									<div class="mpimage1">
										<figure>
											<img ng-src="/api/solutions/{{mlsolution.solutionId}}/picture"
												ng-click="onClickModel($index, mlsolution.solutionId, mlsolution.latestRevisionId)"
												class="img-rounded"
												onerror="this.onerror=null;this.src='images/default-model.png'" />
										</figure>
									</div>
									<div class="mpbtncontainer">
										<md-button class="text-small">anomoly detection</md-button>
										<md-button class="text-small">classification</md-button>
									</div>
								</div>
								<div class="mp-grid-list-details-cell">
									<label class="griditem-title cursor-pointer"
										ng-click="onClickModel($index, mlsolution.solutionId, mlsolution.latestRevisionId)"><span
											class="griditem-title-text">{{mlsolution.name.toString().split("_").join("
											")}}</span></label>
									<div class="disblock detail-content">
										<span class="griditem-text2"
											ng-bind="'by ' + ((mlsolution.authors.length > 0) ? mlsolution.authors[0].name : mlsolution.ownerName)"></span>
										|
										<span class="griditem-text2">on {{mlsolution.modified || mlsolution.created
											| date:"MM/dd/yyyy"}}</span> |
										<span class="text-xsmall link-orange" ng-if="mlsolution.active != ''">New</span>
									</div>
									<div class="a-mp-container1">
										<div class="stars-outer">
											<div class="stars-inner"
												ng-style="getAvgRating(mlsolution.solutionRatingAvg)"></div>
										</div>

										<div class="tile-icons">
											<label class="a-tooltip"><span
													class="icon-header tile_icon-catalogs"></span>
												<span class="a-tooltiptext">{{mlsolution.catalogNames.join(',
													')}}</span>
											</label>
											|
											<label class="a-tooltip"><span
													class="icon-header tile_icon-publish-request"></span>
												<span class="a-tooltiptext">Pub: {{mlsolution.publisher}}</span>
											</label>
										</div>

										<div class="posrel" ng-if="mlsolution.solutionTagList.length > 0">
											<div class="manage-taglist">
												<span class="mg-tag-circle"></span>
												<span class="mg-tag-text">{{mlsolution.solutionTagList.length > 0 ?
													mlsolution.solutionTagList[0].tag : ""}}</span>

												<span class="icon-showmore"
													ng-show="mlsolution.solutionTagList.length > 1"
													ng-click="showListTag(mlsolution.solutionId, $index);">
													<span class="tag-icon1"
														ng-class="{'tag-icon' : mlsolution.solutionId == slnID && Tag}">
														&nbsp; </span>
												</span>

											</div>
											<div class="manage-tag-list-container"
												ng-show="mlsolution.solutionId === slnID && Tag ">
												<ul class="manage-tag-list">
													<li ng-repeat="taglist in mlsolution.solutionTagList">
														<div class="manage-taglist2">
															<span class="mg-tag-circle2"></span><span
																class="mg-tag-text2">{{taglist.tag}}</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- <div class="md-icons">									
															<span class="iconspan1">
																<i class="material-icons">chat_bubble</i>0</span> 
																<span class="iconspan1"><i class="material-icons">visibility</i> {{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</span> 
																<span class="iconspan1"><i class="material-icons">file_download</i>{{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</span> 
																<span class="iconspan1"><i class="material-icons">attach_file</i>{{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</span>
														</div> -->
									<div class="md-icons md-icons-tiles">
										<span><span class="statistics-icons icon-chat" alt="Comment"
												title="Comment"></span> {{mlsolution.commentsCount}}</span>
										<span><span class="statistics-icons icon-view" alt="View" title="View"></span>
											{{mlsolution.viewCount == null ? 0 :
											mlsolution.viewCount}}</span>
										<span><span class="statistics-icons icon-download" alt="Download"
												title="Download"></span> {{mlsolution.downloadCount == null ? 0 :
											mlsolution.downloadCount}}</span>
										<!-- <span><span class="statistics-icons icon-attachment"></span> {{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</span> -->
										<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
											ng-disabled="!loginUserID"
											ng-click="mlsolution.selectFav = !mlsolution.selectFav; updateFavorite(mlsolution.solutionId, $index)"
											alt="Favorite" title="Favorite">
											<i class="material-icons"
												ng-class="{'unselected-fav':!mlsolution.selectFav ,'selected-fav':mlsolution.selectFav}">favorite_border</i>
										</button>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<br />

				<div class="pagination-wrapper" ng-if="mlsolutions.length > 0">
					<div class="pagination-left-section">
						<span>Showing </span>
						<div class="select-control">
							<md-select ng-model="solutionSize" name="solutionSize"
								ng-change="filterChange(solutionSize, 'paginationSize')">
								<md-option ng-value=25 class="pagination-list-item">25</md-option>
								<md-option ng-value=50 class="pagination-list-item">50</md-option>
								<md-option ng-value=100 class="pagination-list-item">100</md-option>
							</md-select>

						</div>

						<span class="page-stats"> Models</span>

					</div>
					<div class="pagination-right-section">
						<div class="count-btn-container">
							<button class="mdl-button mdl-js-button btn-secondary"
								ng-disabled="selectedPage==0 || SetDataLoaded"
								ng-click="setStartCount('pre');loadMore(selectedPage)">Previous</button>
						</div>
						<div class="count-btn-container" ng-hide=" 0 >(setPageStart - 5)">
							<button class="mdl-button mdl-js-button btn-secondary count-btn"
								ng-click="setStartCount('preBunch');loadMore(setPageStart)"
								ng-class="{disabledClick:SetDataLoaded==true}">...</button>
						</div>
						<div class="count-btn-container">
							<button class="mdl-button mdl-js-button btn-secondary count-btn"
								ng-class="{'selected-btn': setPageStart == selectedPage}"
								ng-click="loadMore(setPageStart);">{{setPageStart+1}} </button>
						</div>
						<div class="count-btn-container" ng-hide="totalPages<=(setPageStart+1)">
							<button class="mdl-button mdl-js-button btn-secondary count-btn"
								ng-class="{'selected-btn': setPageStart+1 == selectedPage}"
								ng-click="loadMore(setPageStart+1);">{{setPageStart+2}} </button>
						</div>
						<div class="count-btn-container" ng-hide="totalPages<=(setPageStart+2)">
							<button class="mdl-button mdl-js-button btn-secondary count-btn"
								ng-class="{'selected-btn': setPageStart+2 == selectedPage}"
								ng-click="loadMore(setPageStart+2);">{{setPageStart+3}} </button>
						</div>
						<div class="count-btn-container" ng-hide="totalPages<=(setPageStart+3)">
							<button class="mdl-button mdl-js-button btn-secondary count-btn"
								ng-class="{'selected-btn': setPageStart+3 == selectedPage}"
								ng-click="loadMore(setPageStart+3);">{{setPageStart+4}} </button>
						</div>
						<div class="count-btn-container" ng-hide="(totalPages)<=(setPageStart+4)">
							<button class="mdl-button mdl-js-button btn-secondary count-btn"
								ng-class="{'selected-btn': setPageStart+4 == selectedPage}"
								ng-click="loadMore(setPageStart+4);">{{setPageStart+5}} </button>
						</div>
						<div class="count-btn-container" ng-hide="(totalPages)<=(setPageStart + 5)">
							<button class="mdl-button mdl-js-button btn-secondary count-btn"
								ng-click="setStartCount('nextBunch');loadMore(setPageStart);"
								ng-class="{disabledClick:SetDataLoaded==true}">...</button>
						</div>
						<div class="count-btn-container">
							<button class="mdl-button mdl-js-button btn-secondary"
								ng-click="setStartCount('next');loadMore(selectedPage);"
								ng-disabled="totalPages == (selectedPage + 1) || SetDataLoaded">Next</button>
						</div>
					</div>
				</div>

			</div>


		</div>

	</div>
</div>