/*
===============LICENSE_START=======================================================
Graphene Apache-2.0
===================================================================================
Copyright (C) 2017 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Graphene software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
*/

/* body.md-default-theme, body, html.md-default-theme, html {background:#fff;}
html,body, button,input, select, textarea,.mdl-button {
    font-family: 'Open Sans', sans-serif;
  } 
p {font-size: 1em;} */

/********* Error 404 page style Start ***************/
/* .error-wrapper {min-height: 600px;background: url("../images/error-page/404_bg.png") no-repeat center center; background-size: cover; position: absolute; width: 100%; height:100%; }
.error-wrapper-inner {  } */
.error-wrapper-inner-bottom-DS {background: url("../images/error-page/404_mountain.png") no-repeat 0 0; position: absolute; background-size: 100%;width:100%; height:130px;bottom:0;}
/* .error-wrapper-inner p {color: #fff;} */
/* .error-graphene-logo {background: url("../images/error-page/logo_graphene_404.png") no-repeat center center; width: 198px; height: 57px; margin: 15px auto; } */
.error-graphene-logo2-DS {background: url("../images/error-page/Graphene-error-page-logo.png") no-repeat center center; width: 197px; height: 49px; margin: 15px auto; }
/* .error-graphene-img1 {background: url("../images/error-page/404.png") no-repeat center center; width: 354px; height: 204px; margin: 0 auto; background-size: cover;} */
/* .error-para1 {font-weight:600;font-size: 16px; line-height:16px;}
.error-para2 {font-size: 14px;}
.error-para3 {font-size: 14px;} */
/* .error-seperator {width: 55%; border:none; border-bottom: 1px dashed #FFCB00;margin: 29px auto;} */
/* .error-link-container {margin: 10px 0;}
.error-link-container a { color: #fff; font-size: 16px;}
.error-link-container a:hover { color: #fff;}
.error-hor-seperator { border-right: 1px solid #fff; height: 20px; margin: 10px 20px; } */

h1.error-heading1-DS {color: #fff; margin-bottom:5px; margin-top:15px; padding-bottom: 8px; text-align:center; font-size: 48px; font-weight: 600;font-family: 'Open Sans', sans-serif;}
/* p.error-m-para1 {margin:0;font-size: 18px;font-family: 'Open Sans', sans-serif; margin-bottom: 50px;} */
p.error-m-para2 {margin:0 auto 25px auto;font-size: 18px;font-family: 'Open Sans', sans-serif; text-align: center; position:relative; line-height: 28px; max-width: 800px; }
p.error-m-para2 span.author {display: block;font-size: 16px;font-style: italic;color: #c5becc;}

.error-graphene-maintenance-img-DS {margin: 0 auto; background-size: cover; text-align: center;}
.error-graphene-maintenance-img-DS img {max-width: 100%; height: auto; max-height: 100%;}
/********* Error 404 page style End ***************/

/* @media (max-width: 650px) {	
	h1.error-heading1 {font-size: 24px; }
	p.error-m-para2 {
	margin: 0 auto 15px auto;
	font-size: 14px;	
	line-height: 20px;
	max-width: 80%;
}
p.error-m-para2 span.author {font-size: 12px;}
.error-graphene-maintenance-img {position:relative; top: 30px; }
.error-wrapper-inner-bottom {height: 53px;}
.error-graphene-logo2 {transform: scale(0.7);}
.error-wrapper {min-height: auto;}
}

@media (max-width: 650px) and (orientation: landscape) 
{
	.error-wrapper {min-height: 480px;}	
	.error-graphene-maintenance-img {max-width: 70%;}
	p.error-m-para2 {max-width: 92%;}
	}
@media (min-width: 651px) and (max-width: 1100px)  {	
	h1.error-heading1 {font-size: 36px;}
	p.error-m-para2 {
	margin: 0 auto 15px auto;
	font-size: 18px;	
	line-height: 25px;
	max-width: 80%;
}
p.error-m-para2 span.author {font-size: 16px;}
.error-graphene-maintenance-img-DS {position:relative; top: 30px;}
.error-wrapper-inner-bottom-DS {height: 130px;}
.error-graphene-logo2-DS {transform: scale(0.7);}

} */
