<!--  
===============LICENSE_START=======================================================
Graphene Apache-2.0
===================================================================================
Copyright (C) 2019 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Graphene software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
-->

<div id="backupLogs" ng-cloak>
	
	<!-- Create Backup Modal box start -->
	<div id="createBack">
		<md-dialog aria-label="Create Back" style="max-width: 100%;">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Create Backup</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="closePoup()">
						<i class="material-icons">close</i>
					</md-button>
				</div>
			</md-toolbar>
			
			<md-dialog-content style="height: 400px; max-height:400px;">
				<alert-message msg="msg" icon="icon" styleclass="styleclass"
				ng-show="showBackupLogsMessage"></alert-message>
				
				<!-- Content Loader directive -->
				<div content-loader ng-show="showContentLoader"></div>
				
				<!-- Content Body ends -->
				<div>
				<!-- No Repo available -->
				<div ng-show="!isRepoAvailable && !createFirstRepo">
					<div class="md-dialog-content">
						<p>There is no repository available in the elasticsearch, please create repository first.</p>
					</div>
				</div>

				<!-- Create First Repo -->
				
				<div ng-show="createFirstRepo">
				<ng-form name="createRepo">
					<div class="md-dialog-content">
						<h6 class="sectiontitle" style="color: #671c9d">CREATE REPOSITORY</h6>
						<div class="popup-input-container">
						<div>
							<md-input-container class="md-block">
								<label>Repository Name</label> 
								<input type="text" class="medium-textbox" ng-model="repositoryName" required name="repositoryName" placeholder="Enter Name"  ng-pattern ="/^[a-zA-Z0-9_-]+$/" />
							<div class="help-inline validation-msgs repo_name_msg">
							<span ng-show="createRepo.repositoryName.$error.pattern">Repository Name can consists of alphanumeric, hyphen and underscore characters only.</span>
							</div>
							</md-input-container>
					 	</div>
						
						
						<div>
							<label class="disblock">&nbsp;</label>
							<button class="mdl-button mdl-js-button btn-primary btn-valign-horizontal"
								ng-disabled="!repositoryName"
								ng-click="createRepository(repositoryName); createFirstRepo = !createFirstRepo;">Create
							</button>
						</div>
						<div>
							<label class="disblock">&nbsp;</label>
							<button ng-click="createFirstRepo = !createFirstRepo;" 
								class="mdl-button mdl-js-button btn-secondary btn-valign-horizontal">Cancel</button>
						</div>
						</div>
					</div>
					</ng-form>
					
				</div>
				
				<!-- Repo available -->
				<div ng-show="isRepoAvailable">
					
						<div class="md-dialog-content">
						<form  name="backupForm" ng-cloak novalidate>
							<div class="c-alert static-position margin-backlog" ng-class="styleclass?'c-success':'c-error'" ng-show="repositoryStatus">
											<div class="c-alert-inner"><span class="material-icons">{{icon}}</span>
											<span class="alert-text">{{msg}}</span></div>
							</div>
							<div class="popup-input-container">
							
								<div class="">
									<div class="select-control">
										<label>Select Repository <sup class="reqfield">*</sup></label>
										<md-select ng-model="selectRepo" placeholder="Select">
											<md-option ng-repeat='repo in allRepositories' value="{{repo.name}}">{{repo.name}}</md-option>
										</md-select>
									</div>
								</div>
								<div class="vertical-bottom-alignment"><button ng-click="createFirstRepo = !createFirstRepo;"
										class="mdl-button mdl-js-button btn-primary btn-icon-valign-horizontal"
										ng-disabled="createFirstRepo"><i
											class="material-icons">add</i></button></div>
									<div class="">
										<md-input-container class="md-block">
											<label>Backup Name </label>
											<input ng-model="backupName" type="text" class="medium-textbox" placeholder="Enter Backup Name"
											name="backupName" required
											ng-pattern ="/^[0-9a-z-_\s]*$/">
										<div class="help-inline validation-msgs repo_name_msg">
										<span ng-show="backupForm.backupName.$error.pattern">Backup Name can consists of numeric, lower case, hyphen and underscore characters only</span>
										</div>
										</md-input-container>
									</div>
							</div>
							
							<div class="c-alert c-warning static-position margin-backlog">
								<div class="c-alert-inner"><span class="material-icons">report_problem</span>
								<span class="alert-text">If you delete any indices from this page it will be
								deleted permanently</br> from the elasticsearch.</span></div>
							</div>
							
							
							<div>
								<table class="mdl-data-table mdl-js-data-table fullwidth backlog-list">
									<colgroup>
										<col style="width:5%;">
										<col>
										<col style="width:5%;">
									</colgroup>
									<thead>
										<tr>
											<th><md-checkbox ng-model="selectAllIndice" ng-click="selectAllIndices(selectAllIndice)"></md-checkbox></th>
											<th>Indices</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="indices in allIndices">
											<td>
												<md-checkbox 
														value="{{indices}}"
														ng-model="indices.checked" 
														ng-click="removeSelectAll()"></md-checkbox>
											</td>
											<td><span>{{indices.name}}</span>
											<!-- <span
													class="grid-small-text">(Backup taken)</span> -->
											</td>
											<td class="text-center">
												<a ng-click="confirmDeleteIndice(indices.name)">
													<span class="gridicon-delete"></span>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							</form>
						</div>
					
				</div>

				</div>
				<!-- Content Body ends -->
				
			</md-dialog-content>
			
			
			<md-dialog-actions>
				<div class="dialog-footer-container1" ng-show="!isRepoAvailable && !createFirstRepo">
					<md-button ng-click="closePoup()" class="mdl-button mdl-js-button btn-secondary">Cancel</md-button>
					<md-button ng-click="createFirstRepo = true;" class="mdl-button mdl-js-button btn-primary">Create Repository</md-button>
				</div>

				<div class="dialog-footer-container1" ng-show="createFirstRepo || isRepoAvailable">
					<md-button class="mdl-button mdl-js-button btn-secondary" ng-click="closePoup()">Cancel</md-button>
					<md-button class="mdl-button mdl-js-button btn-primary" ng-disabled="!(selectRepo && backupName && removeSelectAll() > 0)"
					ng-click="createBackup();">Create Backup</md-button>
				</div>
			</md-dialog-actions>
			
		</md-dialog>
	</div>
</div>
	