<!--  
===============LICENSE_START=======================================================
Graphene Apache-2.0
===================================================================================
Copyright (C) 2017 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Graphene software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
-->

<!-- only for demo remove afterwards -->
<div class="page-content">
    <section class="pageheadsection mob-pageheadsection1">
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                <div class="mp-header-btn-container">
                    <span class="headline mob-disblock">{{pageTitle}}</span>
                    <div class="fed-srch-container" ng-show="loginUserID">
                    </div>
                </div>
                <ul class="c-breadcrumb">
                    <li><a ui-sref="home" ng-click="$root.parentActive = ''">Home</a></li>
                    <li>Leaderboard</li>
                </ul>
                <a ng-show="$root.enableOnboarding" class="mdl-button mdl-js-button btn-primary hide-xs"
                    ui-sref="modularResource" ng-click="$root.parentActive = ''" alt="Add New Model"
                    title="Add New Model">add new model</a>
                <button class="mdl-button mdl-button--fab btn-primary mob-add-button hide-sm hide-md hide-lg hide-xl"><i
                        class="material-icons">add</i></button>
            </div>
        </div>
    </section>
    <div class="mdl-grid mdl-grid--no-spacing cg-grid-layout">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--4-col-phone cg-grid-left-container"
            ng-class=" 'showfilter' ? 'leftbrowse-section' : '' " ng-show="showfilter">
            <div class="mdl-grid browse-section-container" layout="row">
                <span class="title text-bold" flex="60">BROWSE BY</span>
                <a class="text-right" flex="40" ng-click="autoHeight = !autoHeight"
                    ng-show="!autoHeight  && category.length > 4">Show Less</a>
                <a class="text-right" flex="40" ng-click="autoHeight = !autoHeight"
                    ng-show="autoHeight  && category.length > 4">Show All</a>

            </div>
            <div class="">
                <div class="sidebar-search-container">
                    <input class="searchicon" type="text" id="model-search"
                        ng-change="filterChange('searchBox','searchFilter')" ng-model="searchBox"
                        placeholder="Search here" ng-model-options="{ debounce: 2000 }">
                </div>

                <div class="sidebar-checkbox-container" ng-class="autoHeight ? 'fixheightfilter' : 'autoheightfilter'">
                    <!-- <div class="sidebar-checkbox-container autoheightfilter"> -->
                    <label class="disblock margin-b md-subhead">Filter By Category <span
                            class="title-icons filter-catagory" alt="Filter By Category"
                            title="Filter By Category"></span></label>

                    <div class="checkbox" ng-repeat="cat in category">
                        <md-checkbox aria-label="Checkbox 1" class="text-medium" ng-true-value="'yup'"
                            ng-false-value="'nope'" value="{{cat}}" ng-checked="selectedCat[$index]"
                            ng-click="filterChange(cat.code,'caegory');selectedCat[$index]=!selectedCat[$index]">{{cat.name}}
                    </div>
                    <!-- <a href="#" class="text-small" flex>Show More</a> -->
                </div>
                <!-- <a class="link-sidebar-showmore" ng-click="autoHeight = !autoHeight" ng-show = "autoHeight" flex>Show More</a>
							<a class="link-sidebar-showmore" ng-click="autoHeight = !autoHeight" ng-show = "!autoHeight" flex>Show Less</a> -->
                <hr class="sidebar-seperator">
                <div class="sidebar-tag-container">
                    <label class="disblock md-subhead">Tags <span class="title-icons icon-tags" alt="Tags"
                            title="Tags"></span></label>
                    <div class="">
                        <md-chips>
                            <md-chip ng-repeat="tag in tags" ng-class="{'selected-tag': selectedChip[$index]}"
                                ng-click="filterChange(tag,'tag');selectChip($index)">{{tag}}</md-chip>
                        </md-chips>
                    </div>
                </div>

            </div>

        </div>
        <div
            class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color--white cg-grid-right-container">



            <!-- Showing leaderboard  -->
            <div class="page-wrapper">

                <!-- <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--12-col">
                            <div class="select-control register-select-control">
                                <label class="fedlbl4">Access Level<span class="reqfield">*</span></label>
                                <md-select name="accessLevel" placeholder="Select Access Level"
                                    ng-model="parent.catalog.accessTypeCode" class="model-box-dropdown-height">
                                    <md-option value="{{type.value}}" ng-repeat='type in parent.accessType' ng-click="">
                                        {{type.name}} </md-option> </md-select>
                            </div>
                            <div class="help-inline validation-msgs">
                                <span class="model-box-dropdown-error-msg"
                                    ng-show="catalogForm.accessLevel.$touched  && !(parent.catalog.accessTypeCode)">Access
                                    Level
                                    Required.</span>
    
                            </div>
                    </div>
                </div> -->

                <div class="mdl-grid mdl-grid--no-spacing grid1 hide-xs">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--middle">
                        <div class="select-control-leaderboard register-select-control">
                            <label class="fedlbl4">
                                <h6>Select a challenge</h6>
                            </label>
                            <md-select name="challengeSelector" placeholder="List of challenges" ng-model="selectedChallenge" class="model-box-dropdown-height">
                                <md-option value="{{challenge.catalogId}}" ng-repeat="challenge in challenges" ng-click="selectChallenge(challenge)">
                                    {{challenge.name}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                    
                </div>

                <!-- Higher Rows with buttons and number of tiles -->

                <div class="mdl-grid mdl-grid--no-spacing grid1 hide-xs">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--1-col-phone mdl-cell--middle">


                        <div ng-hide="totalElements != 0">
                            <span class="hide-xs hide-sm showing-text">Showing - <span class="text-colorgray1"> 0
                                    Models</span></span>
                        </div>
                        <div ng-hide="totalElements == 0">
                            <span class="hide-xs hide-sm showing-text">Showing - <span class="text-colorgray1">
                                    {{startPageSize }} to {{endPageSize}} of {{totalElements}} Models</span></span>
                        </div>
                        <button
                            class="mdl-button mdl-js-button mdl-button--primary hide-lg hide-md hide-xl btn-sort btn-browseby"
                            ng-click="showfilter = !showfilter">Browse By</button>
                    </div>
                </div>
                <br />
                <!-- Area for showing cards or tiles -->
                <div class="grid-outer-wrapper">
                    <div class="grid-container">
                        <!-- Tiles -->
                        <div class="mp-grid-list">
                            <div class="alert c-info"
                                ng-if="catalogSelected && (mlsolutions.length < 1 || (allDeletedData && !searchResults))">
                                <strong>No Results Found</strong>
                            </div>
                            <div class="alert c-info"
                                ng-if="!catalogSelected">
                                <strong>There is not a challenge selected. Please select a challenge.</strong>
                            </div>
                            <!-- tile element -->
                            <div class="mp-grid-list-row leaderboard"
                                ng-repeat="mlsolution in mlsolutions | unique:'solutionId' | filter:(!searchResults || '') && {active:true}">
                                <div layout="row" layout-align="space-around center"
                                    class="layout-margin layout-row ranking-row">
                                    <div>
                                        <h4>{{$index}}</h4>
                                    </div>
                                    <div class="mp-grid-list-row-inside">
                                        <div class="mp-grid-list-image-cell">
                                            <div class="mpimage1">
                                                <figure>
                                                    <img ng-src="/api/solutions/{{mlsolution.solutionId}}/picture"
                                                        ng-click="onClickModel($index, mlsolution.solutionId, mlsolution.latestRevisionId)"
                                                        class="img-rounded"
                                                        onerror="this.onerror=null;this.src='images/default-model.png'" />
                                                </figure>
                                            </div>
                                            <div class="mpbtncontainer">
                                                <md-button class="text-small">anomoly detection</md-button>
                                                <md-button class="text-small">classification</md-button>
                                            </div>
                                        </div>
                                        <div class="mp-grid-list-details-cell">
                                            <label class="griditem-title-leaderboard cursor-pointer"
                                                ng-click="onClickModel($index, mlsolution.solutionId, mlsolution.latestRevisionId)"><span
                                                    class="griditem-title-text">{{mlsolution.name.toString().split("_").join("
                                                    ")}}</span></label>
                                            <div class="disblock detail-content">
                                                <span class="griditem-text2"
                                                    ng-bind="'by ' + ((mlsolution.authors.length > 0) ? mlsolution.authors[0].name : mlsolution.ownerName)"></span>
                                                |
                                                <span class="griditem-text2">on {{mlsolution.modified ||
                                                    mlsolution.created
                                                    | date:"MM/dd/yyyy"}}</span> |
                                                <span class="text-xsmall link-orange"
                                                    ng-if="mlsolution.active != ''">New</span>
                                            </div>
                                            <div class="a-mp-container1">
                                                <div class="stars-outer">
                                                    <div class="stars-inner"
                                                        ng-style="getAvgRating(mlsolution.solutionRatingAvg)">
                                                    </div>
                                                </div>

                                                <div class="tile-icons">
                                                    <label class="a-tooltip"><span
                                                            class="icon-header tile_icon-catalogs"></span>
                                                        <span class="a-tooltiptext">{{mlsolution.catalogNames.join(',
                                                            ')}}</span>
                                                    </label>
                                                    |
                                                    <label class="a-tooltip"><span
                                                            class="icon-header tile_icon-publish-request"></span>
                                                        <span class="a-tooltiptext">Pub:
                                                            {{mlsolution.publisher}}</span>
                                                    </label>
                                                </div>

                                                <div class="posrel" ng-if="mlsolution.solutionTagList.length > 0">
                                                    <div class="manage-taglist">
                                                        <span class="mg-tag-circle"></span>
                                                        <span class="mg-tag-text">{{mlsolution.solutionTagList.length
                                                            > 0 ?
                                                            mlsolution.solutionTagList[0].tag : ""}}</span>

                                                        <span class="icon-showmore"
                                                            ng-show="mlsolution.solutionTagList.length > 1"
                                                            ng-click="showListTag(mlsolution.solutionId, $index);">
                                                            <span class="tag-icon1"
                                                                ng-class="{'tag-icon' : mlsolution.solutionId == slnID && Tag}">
                                                                &nbsp; </span>
                                                        </span>

                                                    </div>
                                                    <div class="manage-tag-list-container"
                                                        ng-show="mlsolution.solutionId === slnID && Tag ">
                                                        <ul class="manage-tag-list">
                                                            <li ng-repeat="taglist in mlsolution.solutionTagList">
                                                                <div class="manage-taglist2">
                                                                    <span class="mg-tag-circle2"></span><span
                                                                        class="mg-tag-text2">{{taglist.tag}}</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="md-icons md-icons-tiles">
                                                <span><span class="statistics-icons icon-chat" alt="Comment"
                                                        title="Comment"></span>
                                                    {{mlsolution.commentsCount}}</span>
                                                <span><span class="statistics-icons icon-view" alt="View"
                                                        title="View"></span>
                                                    {{mlsolution.viewCount == null ? 0 :
                                                    mlsolution.viewCount}}</span>
                                                <span><span class="statistics-icons icon-download" alt="Download"
                                                        title="Download"></span> {{mlsolution.downloadCount == null
                                                    ? 0 :
                                                    mlsolution.downloadCount}}</span>
                                                <!-- <span><span class="statistics-icons icon-attachment"></span> {{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</span> -->
                                                <button
                                                    class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
                                                    ng-disabled="!loginUserID"
                                                    ng-click="mlsolution.selectFav = !mlsolution.selectFav; updateFavorite(mlsolution.solutionId, $index)"
                                                    alt="Favorite" title="Favorite">
                                                    <i class="material-icons"
                                                        ng-class="{'unselected-fav':!mlsolution.selectFav ,'selected-fav':mlsolution.selectFav}">favorite_border</i>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!-- Button part of the page with number of pages -->
                <div class="pagination-wrapper" ng-if="mlsolutions.length > 0">
                    <div class="pagination-left-section">
                        <span>Showing </span>
                        <div class="select-control">
                            <md-select ng-model="solutionSize" name="solutionSize"
                                ng-change="filterChange(solutionSize, 'paginationSize')">
                                <md-option ng-value=25 class="pagination-list-item">25</md-option>
                                <md-option ng-value=50 class="pagination-list-item">50</md-option>
                                <md-option ng-value=100 class="pagination-list-item">100</md-option>
                            </md-select>

                        </div>

                        <span class="page-stats"> Models</span>

                    </div>
                    <div class="pagination-right-section">
                        <div class="count-btn-container">
                            <button class="mdl-button mdl-js-button btn-secondary"
                                ng-disabled="selectedPage==0 || SetDataLoaded"
                                ng-click="setStartCount('pre');loadMore(selectedPage)">Previous</button>
                        </div>
                        <div class="count-btn-container" ng-hide=" 0 >(setPageStart - 5)">
                            <button class="mdl-button mdl-js-button btn-secondary count-btn"
                                ng-click="setStartCount('preBunch');loadMore(setPageStart)"
                                ng-class="{disabledClick:SetDataLoaded==true}">...</button>
                        </div>
                        <div class="count-btn-container">
                            <button class="mdl-button mdl-js-button btn-secondary count-btn"
                                ng-class="{'selected-btn': setPageStart == selectedPage}"
                                ng-click="loadMore(setPageStart);">{{setPageStart+1}} </button>
                        </div>
                        <div class="count-btn-container" ng-hide="totalPages<=(setPageStart+1)">
                            <button class="mdl-button mdl-js-button btn-secondary count-btn"
                                ng-class="{'selected-btn': setPageStart+1 == selectedPage}"
                                ng-click="loadMore(setPageStart+1);">{{setPageStart+2}} </button>
                        </div>
                        <div class="count-btn-container" ng-hide="totalPages<=(setPageStart+2)">
                            <button class="mdl-button mdl-js-button btn-secondary count-btn"
                                ng-class="{'selected-btn': setPageStart+2 == selectedPage}"
                                ng-click="loadMore(setPageStart+2);">{{setPageStart+3}} </button>
                        </div>
                        <div class="count-btn-container" ng-hide="totalPages<=(setPageStart+3)">
                            <button class="mdl-button mdl-js-button btn-secondary count-btn"
                                ng-class="{'selected-btn': setPageStart+3 == selectedPage}"
                                ng-click="loadMore(setPageStart+3);">{{setPageStart+4}} </button>
                        </div>
                        <div class="count-btn-container" ng-hide="(totalPages)<=(setPageStart+4)">
                            <button class="mdl-button mdl-js-button btn-secondary count-btn"
                                ng-class="{'selected-btn': setPageStart+4 == selectedPage}"
                                ng-click="loadMore(setPageStart+4);">{{setPageStart+5}} </button>
                        </div>
                        <div class="count-btn-container" ng-hide="(totalPages)<=(setPageStart + 5)">
                            <button class="mdl-button mdl-js-button btn-secondary count-btn"
                                ng-click="setStartCount('nextBunch');loadMore(setPageStart);"
                                ng-class="{disabledClick:SetDataLoaded==true}">...</button>
                        </div>
                        <div class="count-btn-container">
                            <button class="mdl-button mdl-js-button btn-secondary"
                                ng-click="setStartCount('next');loadMore(selectedPage);"
                                ng-disabled="totalPages == (selectedPage + 1) || SetDataLoaded">Next</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>