<!--  
===============LICENSE_START=======================================================
Graphene Apache-2.0
===================================================================================
Copyright (C) 2019 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Graphene software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
-->

<div class="posrel">
	<alert-message ng-cloak msg="msg" icon="icon" styleclass="styleclass"
		ng-show="showAlertMessage"></alert-message>
</div>

<div class="page-content">
	<section class="pageheadsection">
		<div class="mdl-grid mdl-grid--no-spacing">
			<div
				class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
				<span class="headline mob-disblock">Catalogs</span>
				<ul class="c-breadcrumb">
					<li><a ui-sref="home" ng-click="$root.parentActive = ''">Home</a></li>
					<li>Catalogs</li>
				</ul>
			</div>
		</div>
	</section>
</div>
<div class="catalog-page-wrapper">
	</br>
	<div class="catalog-filter-container">
		<label class="ct-lbl2"></label>
		<div class="catalog-filter-inner-container">
			<button class="mdl-button mdl-js-button btn-primary"
				alt="Add New Catalog" title="Add New Catalog"
				ng-click="addCatalog()">Add New Catalog</button>
			<div class="select-control catalog-select" ng-if=false>
				<md-select ng-model="catalogLevel" ng-change="search()" placeholder="All Catalog"
					class="md-no-underline admin-ddl"> <md-option
					value="{{type.value}}" ng-repeat='type in CatalogType'>{{type.name}}</md-option>
				</md-select>
			</div>
			<div class="select-control catalog-select" ng-if=false>
				<md-select placeholder="Filter by Publisher" ng-model="roleValue">
				<md-option value="Filter by Publisher">Filter by
				Publisher</md-option> <md-option value="Public">Public</md-option> <md-option
					value="Restricted Peer">Restricted Peer</md-option> </md-select>
			</div>
			<!-- <div>
				<input class="catalog-search-txtbox notification-search" type="text" ng-model="searchtxt.name"
					placeholder="Search Catalog by name" />
			</div> -->
		</div>
	</div>
	<div>
		<div class="onboard-history">
			<!-- table start -->
			<div class="admin-grid-container">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp admin-tbl1 mdl-js-data-table"
					datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs="dtColumnDefs">
					<colgroup>
						<col width="15%">
						<col width="10%">
						<col width="13%">
						<col width="10%">
						<col width="12%">
						<col width="12%">
						<col width="10%">
						<col width="10%">
					</colgroup>
					<thead>
						<tr>
							<th>CATALOG NAME </th>
							<th>CATALOG TYPE </th>																							
							<th>PUBLISHER NAME </th>	
							<th>SELF-PUB </th>
							<th>ACCESS TYPE </th>
							<th>TOTAL MODELS </th>
							<th>CREATED DATE </th>
							<th>ACTION </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="catalog in allCatalogList ">							
							<td><span class="md-breadcrumb-item"> <a ng-click="showViewDetailsPopup(this,catalog)"> {{catalog.name}}</a> </span></td>
							<td><span class="md-breadcrumb-item">Not defined yet</span></td>
							<td><span class="md-breadcrumb-item">{{catalog.publisher}}</span></td>							
							<td><span class="md-breadcrumb-item">{{(catalog.selfPublish) ? "Yes" : "No"}}</span></td>
							<td><span class="md-breadcrumb-item">
									{{catalog.accessTypeCode == "PB" ? "Public" : "Restricted"}}</span></td>
							<td><span class="md-breadcrumb-item">{{((catalog.solutionCount < 10) ? '0' : '') + catalog.solutionCount}}
							</span></td>
							<td><span class="md-breadcrumb-item">{{catalog.created | date :"MM/dd/yyyy" }}</span></td>
							<td class="text-center">
								<button ng-click="editCatalog(catalog)" 
									class="mdl-button mdl-js-button mdl-button--icon">
									<span class="gridicon-edit"></span>
								</button>
								<button ui-sref="managePeer({catalogName:catalog.name,catalogId:catalog.catalogId})" alt="managePeer" title="Manage Peer"
									class="mdl-button mdl-js-button mdl-button--icon" ng-style="catalog.accessTypeCode == 'PB' && {'cursor' : 'not-allowed', 'opacity' : 0.5}">
									<span class="gridicon-access"></span>
								</button>
								<button ng-click="showDeleteDialog(catalog)" ng-disabled ="catalog.solutionCount > 0"
									class="mdl-button mdl-js-button mdl-button--icon">
									<span class="gridicon-delete" ng-class="catalog.solutionCount > 0 ? 'disabled' : '' "></span>
								</button>
							</td>

						</tr>											
					</tbody>
				</table>
			</div>
			<!-- table end -->

		</div>
	</div>
	
	<!-- Modal box start -->
		<div class="md-dialog-container" id="mdlViewDetails" style="height:0;" >
			<md-dialog aria-label="" class="view-catalog-dialog">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>View Catalog</h2>
						<span flex></span>
						<md-button class="md-icon-button" ng-click="mdClosePoup()">
							<i class="material-icons">close</i>
						</md-button>
					</div>
				</md-toolbar>
				<md-dialog-content>
					<div class="md-dialog-content">
						<div class="catalog-title-container">
							<label class="catalog-title-heading">CATALOG NAME: {{mdname}} </label>
						</div>
						<p class="catalog-para">{{mdDescription}} </p>
						<div class="catalog-details">
							<div>
								<label><span class="font600">Publisher Name: </span>{{mdpublisher}}</label>
							</div>							
							<div>
								<label><span class="font600">Access Type:  </span>{{mdaccessTypeCode == "PB" ? "Public" : "Restricted"}}</label>
							</div>
							<div>
								<label><span class="font600">Total Models:  </span>{{mdsolutionCount}}</label>
							</div>
							<div>
								<label><span class="font600">Self Publish:  </span>{{mdselfPublish == true ? "Yes" : "No"}}</label>
							</div>
						</div>
						<div class="catalog-details2" ng-if=false>
								<label class="font600">Federated Catalog: </label>
								<label>Cataog ABC <span class="catalog-small-text">(Lavinia Anderson)</span>, </label>
								<label>Cataog EFG <span class="catalog-small-text">(Aubrey Hermiston)</span>, </label>
								<label>Cataog XYZ <span class="catalog-small-text">(Price Yost)</span>, </label>																
						</div>
					</div>
				</md-dialog-content>
				<md-dialog-actions>
					<div class="dialog-footer-container1">
						<span></span>
						<md-button  class="mdl-button mdl-js-button btn-primary" ng-click="mdClosePoup()">Ok</md-button>
					</div>
				</md-dialog-actions>
			</md-dialog>
		</div>
		<!-- Modal box end -->
		<!-- error dialog start-->
		
		<div class="md-dialog-container" id="errorDialog" style="height: 600;">
		<md-dialog aria-label="Sign In"  class="sign-in-promt-modal-box"  style="width:800px" >
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Error</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="mdClosePoup()">
				<i class="material-icons">close</i> </md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
		<div class="md-dialog-content">
			<span style="font-size: 15px; font-weight:550;color:red;">The selected catalog cannot be deleted if it falls under any one or more conditions listed below :</span>
				<ul style="color:red;"><li>If Catalog is added as favorite catalog</li>
				<li>If Catalog has a model with pending publish request </li>
				<li>If user granted access to peer for the Catalog being deleted</li></ul>
			</div>
		</md-dialog-content>
		
	</md-dialog>
</div>
<!--error dialog end -->

</div>