<!--  
===============LICENSE_START=======================================================
Graphene Apache-2.0
===================================================================================
Copyright (C) 2017 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Graphene software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
-->
<alert-message msg="msg" icon="icon" styleclass="styleclass"
	ng-show="showSuccessMessage"></alert-message>
<section class="pageheadsection gray-bg">
	<div layout="row" layout-xs="column" layout-fill
		layout-align="start start" class="mdl-grid mdl-grid--no-spacing">
		
		<div
			class="mdl-cell mdl-cell--5-col mdl-cell--4-col-phone mdl-cell--5-col-tablet">
			<div id="managePeers">
				<span class="headline mob-disblock">Manage Peer(s) Access</span>
			</div>
			<ul class="c-breadcrumb">
				<li><a ui-sref="home" ng-click="$root.parentActive = ''">Home</a></li>
				<li><a ui-sref="catalog">Catalogs</a></li>
				<li><span>Manage Peer(s) Access</span></li>
			</ul>
		</div>
	</div>
</section>

<!-- HTML code for Maintained Backup Logs page -->
<div class="mdl-tabs__panel" id="tab9-panel">
	<div class="site-content-wrapper">
		<div class="md-padding">
			<div class="fed-row1">
				<div>
					<span style="font-size: 15px;font-weight: 900;">{{catalogName}} - Granted Peers Access</span>
				</div>
				<div class="fed-row2">
					<button class="mdl-button mdl-js-button btn-primary"
						ng-click="grantAccessDialog()" ng-disabled="availablePeers.length==0 || searchPeerDetails">Grant Peers Access</button>
					<button class="mdl-button mdl-js-button btn-secondary btn-gap" ng-disabled="accessedPeers.length==0 || peersSelected.length == 0"
						ng-click="removePeerDialog()">Remove</button>
					<div class="fed-srch-container">
						<div class="mdl-textfield mdl-js-textfield admin-search-container">
							<input class="mdl-textfield__input admin-search-control"
								type="text" placeholder="Search by name"
								ng-model="searchPeerDetails">
						</div>
					</div>
				</div>
			</div>
			<hr />
			<div>
				<table class="mdl-data-table mdl-js-data-table fullwidth backlog-list">
					<colgroup>
						<col style="width: 5%;">
						<col>
						<col>
						<col>
						<col style="width: 7%;">
					</colgroup>
					<thead>
						<tr>
							
							<th><md-checkbox ng-model="selectAllPeer" ng-click="removeAll(selectAllPeer)" ng-disabled="$parent.searchData.length==0"></md-checkbox></th>
							
							
							<th
								ng-click="orderByField='name'; reverseSort = !reverseSort">Peer Name<span ng-if='orderByField!="name"'
								class="gridcell-sort deactivate"></span><span
								ng-if='orderByField=="name"'
								ng-class="reverseSort?'ascending':'descending'"
								class="gridcell-sort"></span>
							</th>
							<th
								ng-click="orderByField='subjectName'; reverseSort = !reverseSort">FQDN<span ng-if='orderByField!="subjectName"'
								class="gridcell-sort deactivate"></span><span
								ng-if='orderByField=="subjectName"'
								ng-class="reverseSort?'ascending':'descending'"
								class="gridcell-sort"></span>
							</th>
							<th
								ng-click="orderByField='contact1'; reverseSort = !reverseSort">Email<span ng-if='orderByField!="contact1"'
								class="gridcell-sort deactivate"></span><span
								ng-if='orderByField=="contact1"'
								ng-class="reverseSort?'ascending':'descending'"
								class="gridcell-sort"></span>
							</th>
												
							<th>Action</th>
						</tr>
					</thead>
					<tbody ng-repeat="val in ($parent.searchData = (accessedPeers | orderBy:propertyName:reverse | orderBy:orderByField:!reverseSort | filter:searchPeerDetails))">
						<tr>
						
							<td><md-checkbox 
							value="{{val}}"
							ng-model = "val.checked"
							ng-click="removeSelected(val)">
							</md-chekbox></td>
							<td><span>{{val.name}}</span></td>
							<td><span>{{val.subjectName}}</span></td>
							<td><span>{{val.contact1}}</span></td>
							<td class="text-center">
							<span class="fas fa-times" ng-click="removeIndividualPeer(val)"}></span></td>
						</tr>
					</tbody>
					<tbody ng-if="$parent.searchData.length == 0">
								<tr class="alert c-info text-center">
									<td class="text-center" colspan="7"><strong>No
											Results Found</strong></td>
								</tr>
				   </tbody>
				</table>
			</div>
			</div>
	</div>
</div>
<!-- Modal box start -->
<div class="md-dialog-container" id="dialogBox" style="height: 600;">
<div ng-class={'a-overlay1':$root.setPeerLoader} ng-if="$root.setPeerLoader">
<span ng-class={'a-overlay1-inner-msg':$root.setPeerLoader}>Please wait...</span></div>

	<md-dialog aria-label="Grant Peer Access Modal" class="xlarge-size-dialog">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Grant Peers Access</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="closePoup()">
		<i class="material-icons">close</i> </md-button>
	</div>
	</md-toolbar> <md-dialog-content>
	<form name="grantAccessForm" ng-cloak>
		<div class="md-dialog-content">
			<div class="text-right">
				<div class="mdl-js-textfield modal-search-container">
					<input class="model-search-control" type="text"
						placeholder="Search by name" ng-model="searchPeer">
				</div>
			</div>
			<div>
				<table class="mdl-data-table mdl-js-data-table fullwidth backlog-list">
					<colgroup>
						<col style="width: 5%;">
						<col>
						<col>
						<col>
					</colgroup>
					<thead>
						<tr>
							<th><md-checkbox ng-model="selectAll" ng-click="grantAccessToAll(!selectAll)"></md-checkbox></th>
							<th
								ng-click="orderByField='name'; reverseSort = !reverseSort">Peer Name<span ng-if='orderByField!="name"'
								class="gridcell-sort deactivate"></span><span
								ng-if='orderByField=="name"'
								ng-class="reverseSort?'ascending':'descending'"
								class="gridcell-sort"></span>
							</th>
							<th
								ng-click="orderByField='subjectName'; reverseSort = !reverseSort">FQDN<span ng-if='orderByField!="subjectName"'
								class="gridcell-sort deactivate"></span><span
								ng-if='orderByField=="subjectName"'
								ng-class="reverseSort?'ascending':'descending'"
								class="gridcell-sort"></span>
							</th>
							<th
								ng-click="orderByField='contact1'; reverseSort = !reverseSort">Email<span ng-if='orderByField!="contact1"'
								class="gridcell-sort deactivate"></span><span
								ng-if='orderByField=="contact1"'
								ng-class="reverseSort?'ascending':'descending'"
								class="gridcell-sort"></span>
							</th>
							<!-- <th>Peer Name <span class="gridcell-sort deactivate"></span></th>
							<th>FQDN <span class="gridcell-sort deactivate"></span></th>
							<th>Email <span class="gridcell-sort deactivate"></span></th> -->
						</tr>
					</thead>
					
					<tbody ng-repeat="val in (searchData =(availablePeers | orderBy:propertyName:reverse | orderBy:orderByField:!reverseSort | filter:searchPeer))">
					
						<tr>
						<td><md-checkbox 
							value="{{val}}"
							ng-model = "val.checked"
							ng-click="grantAccessToSelected(val)">
							</md-chekbox></td>
							
							<td><span>{{val.name}}</span></td>
							<td><span>{{val.subjectName}}</span>
							</td>
							<td>{{val.contact1}}</td>
						</tr>
						
						
					</tbody>
					<tbody ng-if="searchData.length == 0">
								<tr class="alert c-info text-center">
									<td class="text-center" colspan="7"><strong>No
											Results Found</strong></td>
								</tr>
				   </tbody>
				</table>
			</div>
		</div>
	</form>
	</md-dialog-content> <md-dialog-actions>
	<div class="dialog-footer-container1">
		<md-button class="mdl-button mdl-js-button btn-secondary" alt="Cancel"
			title="Cancel" ng-click="closePoup()">Cancel</md-button>
		<md-button class="mdl-button mdl-js-button btn-primary" alt="Grant Access" title="Grant Access" id="abc"  ng-disabled="grantPeersSelected.length==0" ng-click="grantAccessToPeers()">Grant
		Access</md-button>
	</div>
	</md-dialog-actions> </md-dialog>
</div>
<!-- Modal box end -->

<!-- Modal box Add Peer start -->
<div class="md-dialog-container" id="removeDialogBox">
<div ng-class={'a-overlay1':$root.setPeerLoader} ng-if="$root.setPeerLoader">
<span ng-class={'a-overlay1-inner-msg':$root.setPeerLoader}>Please wait...</span></div>
	<md-dialog aria-label="Grant Peer Access Modal" class="cg-dialog-medium">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Confirmation</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click='closePoup()'>
		<i class="material-icons">close</i> </md-button>
	</div>
	</md-toolbar> <md-dialog-content>
	<div class="md-dialog-content">
		<span>Do you want to remove this peer access ?</span>
	</div>
	</md-dialog-content> <md-dialog-actions>
	<div class="dialog-footer-container1">
		<button class="mdl-button mdl-js-button btn-secondary" alt="Cancel"
			title="Cancel" ng-click="closePoup()">Cancel</button>
		<button class="mdl-button mdl-js-button btn-primary btn-gap"
			alt="Delete" title="Delete" ng-click="removeAccessToPeers()">Confirm</button>
	</div>
	</md-dialog-actions> </md-dialog>
</div>
<!-- Modal box end -->

